{% extends 'base.html' %}

{% block title %}
<title>Noticias</title>
{% endblock title %}

{% block texto_header %}
<h4>
    Listado de Noticias
</h4>
{% endblock texto_header %}

{% block despues_del_header %}

<p>
    <form action={% url 'listado_noticias' %}>
        {{form}}
        <button>Buscar</button>
    </form>
</p>

<p>
    {% if listado_noticias %}
    <ul>
        {% for noticia in listado_noticias %}
        <li>Título de la noticia: {{noticia.titulo}}</li>
        <ul>
            <p>{{noticia.contenido}}</p>
        </ul>
        <ul>
            <p>{{noticia.fecha_creacion}}</p>
        </ul>
        {% endfor %}
    </ul>
    {% else %}
    No se encontraron noticias.
    {% endif %}
</p>

<p>
    <a href={% url 'crear_noticia' %}>Crear Noticia</a>
</p>
{% endblock despues_del_header %}